body {
    min-height: 100vh;
    background: linear-gradient(135deg, #1A73E8, #6EC6FF);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', sans-serif;
}

/* Contenedor */
.container {
    display: flex;
    gap: 60px;
    align-items: center;
    max-width: 1000px;
}

.bienvenida-text h1 {
    color: white;
    font-weight: 700;
    font-size: 2.5rem;
}

.bienvenida-text h2 {
    color: #FFD700;
}

.bienvenida-text p {
    color: white;
    font-size: 1.1rem;
}



.card {
    width: 380px;
    background: white; 
    border-radius: 20px;
    box-shadow: 0 25px 60px rgba(0,0,0,0.3);
    color: #111;
    padding: 50px;
}


.btn-primary {
    background: linear-gradient(135deg, #4f46e5, #6366f1);
    border: none;
    border-radius: 10px;
    padding: 12px;
    font-weight: bold;
}

.btn-primary:hover {
    background: linear-gradient(135deg, #3730a3, #4f46e5);
}


a {
    color: #4f46e5;
}
/* móvil */
@media (max-width: 900px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .card {
        width: 100%;
        max-width: 400px;
    }
}
